<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DCSFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DCSFrameworkBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UniversalDCS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EA90ECA187292B6007F3D81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA90EF6187292B6007F3D81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA90F12187293F4007F3D81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EA90F4818729DEB007F3D81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
